{% extends "layout.html" %}

{% block left_navbar %}
    <ul>
        <li class="ghportfolioButton"><a href="http://127.0.0.1:5000/GitHubPortfolio">Portfolio</a></li>
        <li class="experienceButton"><a href="http://127.0.0.1:5000/Experience">Experience</a></li>
        <li class="skillsButton"><a href="http://127.0.0.1:5000/Skills">Skills</a></li>
    </ul>
{% endblock %}
{% block right_navbar %}
    <ul>
        <li class="button"><a href="mailto:johnmarksjr@gmail.com">John Marks</a>
    </ul>
{% endblock %}
